<a href="/">
    <img class="logo" alt="dxdns" src="/assets/images/dxdns.png" />
</a>
<span>2023 &copy; {{site.title}}</span>

<!-- <footer role="contentinfo" class="footer">
    <ul class="links">
      <li>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <a title="CV" href="/cv.pdf">CV</a>
      </li>

      <li>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <a title="LinkedIn" href="https://linkedin.com/in/dxdns/">LinkedIn</a>
      </li>

      <li>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <a title="GitHub" href="https://github.com/dxdns">GitHub</a>
      </li>
    </ul>

    <p class="copy">
      <img
        src="/assets/images/dxdns.png"
        alt="dxdns"
        class="logo"
      />
      2023 &copy; {{site.title}}
    </p>
</footer> -->