<footer class="footer" role="contentinfo">
    <p class="footer-copy">2020 <i class="uil uil-copyright"></i> dxdns</p>
    <nav class="footer-social">
        <a href="mailto:dxdns@hotmail.com" target="_blank" title="E-mail"> <i class="uil uil-envelope"></i> </a>
        <a class="twitter" href="https://twitter.com/umdns" target="_blank" title="Twitter"> <i
                class="uil uil-twitter"></i> </a>
        <a href="https://github.com/dxdns" target="_blank" title="GitHub"> <i class="uil uil-github"></i> </a>
        <a class="linkedin" href="https://br.linkedin.com/in/dxdns" target="_blank" title="LinkedIn"> <i
                class="uil uil-linkedin"></i>
        </a>
    </nav>
</footer>