<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block text-bg-dark sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <div class="d-flex justify-content-center">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                <img src="https://dxdns.github.io/assets/images/logo50x50.png" alt="" width="32" height="32"
                    class="rounded-circle me-2">
                <!-- <strong>dxdns</strong> -->
            </a>
        </div>
        <hr>

        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/" class="nav-link active" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#home" />
                    </svg>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="/portfolio" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#grid" />
                    </svg>
                    Portfolio
                </a>
            </li>
        </ul>
    </div>
</nav>