<header class="header" role="banner">
    <a href="/" class="header-logo">
        <img src="/assets/images/logo50x50.png" alt="dxdns">
        <h1 class="header-title"><span itemprop="author" class="hide">dxdns</span> <span class="hide"> back-end</span>
        </h1>
    </a>
    <nav class="header-menu">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url==item.link %}style="color: white;" {% endif %}>
            {{ item.name }}
        </a>
        {% endfor %}
    </nav>
</header>
</header>