<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="folder" viewBox="0 0 16 16">
        <path
            d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
    </symbol>
</svg>

<nav class="d-md-block sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <div class="d-flex justify-content-center">
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <div class="col-md-4 col-lg-3 item">
                    <div class="box border border-secondary rounded-circle profile me-2">
                        <div class="cover">
                            <h6 class="name">Diógenes Rodrigues</h6>
                            <p class="title">Desenvolvedor de software</p>
                            <!-- <div class="social">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div> -->
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <hr>

        <ul class="nav nav-pills flex-column mb-auto">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a href="{{ item.link }}" {% if page.url==item.link %} class="nav-link text-white active" {% else %}
                    class="nav-link text-white" {% endif %}>
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#folder" />
                    </svg>
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>