/* :root {
  --bg-primary: #111;
} */

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
}

.content h3 {
  margin-top: 1rem;
  font-weight: 300;
  font-style: italic;
  opacity: 0.5;
}

/* Profile */
.profile {
  position: relative;
  border-radius: 100%;
  border: 3px solid #333;
  margin-bottom: 10px;
  width: 70%;
  height: 70%;
}

/* Social */
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.social-icons a {
  color: #0781cb;
  transition: all 0.7s;
}

.social-icons a:hover {
  color: var(--bs-link-hover-color);
}

.social-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

/* Card */
.card {
  background-color: #495057;
  padding: 2rem;
  border-radius: 1rem;
  color: #111;
  margin-bottom: 1rem;
}

.card p {
  margin-top: 1rem;
  word-wrap: normal;
}

.card a {
  color: rgba(5, 59, 141, 0.892);
  transition: all 0.7s;
}

.card li {
  list-style: none;
}

.card a:hover {
  color: rgb(26, 85, 195);
}

@media (max-width: 768px) {
  .social-icons .social-icon {
    height: 2rem !important;
    width: 2rem !important;
    font-size: 1rem !important;
  }

  .copy {
    margin-top: 24px;
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .copy {
    margin-top: 32px;
    font-size: 18px;
  }
}