:root {
    --main-bg-color: #f1f1f1;
}

/* Gist */

.gist {
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.gist .gist-file {
    margin-bottom: 1em;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    border: 1px solid #333 !important;
    /* border-bottom: 1px solid #333 !important; */
    border-radius: 6px;
    max-width: 400px !important;
    /* width: 100%; */
    background-color: #2222227a !important;
}

.gist .gist-data {
    border-bottom: 0 !important;
    border-radius: 0 !important;
}

#gistFrame {
    border: none !important;
}

.gist .gist-file article {
    padding: 2rem !important;
    font-size: 14px !important;
}

.gist .blob-code,
.gist .blob-num {
    background: transparent !important;
    color: var(--main-bg-color) !important;
}

.gist .gist-data,
.highlight {
    background-color: transparent !important;
}

.gist .gist-meta {
    font: 11px Arial !important;
    background-color: transparent !important;
    display: none;
}

.gist .markdown-body h1 {
    color: var(--main-bg-color);
}

.gist .markdown-body h5 {
    color: var(--main-bg-color);
}

.gist .markdown-body ul,
.gist .markdown-body ol {
    color: var(--main-bg-color);
}

.gist .markdown-body .highlight pre,
.gist .markdown-body pre {
    color: wheat !important;
    background-color: #272727 !important;
}

/* Scrollbar */
.gist pre::-webkit-scrollbar {
    width: 12px !important;
}

.gist pre::-webkit-scrollbar-track {
    background: #222 !important;
}

.gist pre::-webkit-scrollbar-thumb {
    background-color: #333;
}