:root {
    --main-bg-color: #f1f1f1;
}

/* Gist */

.gist {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* Mobile View */
@media screen and (min-width:250px) and (max-width:480px) {
    .gist {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

/* Tablet View */
@media screen and (min-width:481px) and (max-width:768px) {
    .gist {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

/* Laptop View */
@media screen and (min-width:769px) and (max-width:1024px) {
    .gist {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .gist {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

.gist .gist-file {
    margin-bottom: 1em;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    border: 1px solid #333 !important;
    /* border-bottom: 1px solid #333 !important; */
    border-radius: 6px;
    max-width: 400px;
    width: 100%;
    background-color: #2222227a !important;
}

.gist .gist-data {
    border-bottom: 0 !important;
    border-radius: 0 !important;
}

#gistFrame {
    border: none !important;
}

.gist .gist-file article {
    padding: 2rem !important;
    font-size: 14px !important;
}

.gist .blob-code,
.gist .blob-num {
    background: transparent !important;
    color: var(--main-bg-color) !important;
}

.gist .gist-data,
.highlight {
    background-color: transparent !important;
}

.gist .gist-meta {
    font: 11px Arial !important;
    background-color: transparent !important;
    display: none;
}

.gist .markdown-body h1 {
    color: var(--main-bg-color);
}

.gist .markdown-body h5 {
    color: var(--main-bg-color);
}

.gist .markdown-body ul,
.gist .markdown-body ol {
    color: var(--main-bg-color);
}

.gist .markdown-body .highlight pre,
.gist .markdown-body pre {
    color: wheat !important;
    background-color: #272727 !important;
}

/* .gist .markdown-body ul, .gist .markdown-body ol {
    font-size: 14px !important;
} */

.gist pre::-webkit-scrollbar {
    width: 12px !important;
}

.gist pre::-webkit-scrollbar-track {
    background: #222 !important;
}

.gist pre::-webkit-scrollbar-thumb {
    background-color: #333;
}