:root {
  --bs-link-hover-color: #74b7fa;
}

body {
  background-color: #576173eb;
  color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 14px; */
}

/* Links */
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.links li {
  list-style: none;
  /* background-color: #333; */
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.7s;
  margin-bottom: 1rem;
  /* border: 1px solid #ccc; */
}

.links a {
  color: #0781cb;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.7s;
  padding: 1rem;
}

.links a:hover {
  /* background-color: #444; */
  color: var(--bs-link-hover-color);
}

/* Container */
.container {
  max-width: 1000px;
  margin: auto;
  /* padding-top: 2rem; */
}

.content {
  background-color: #00000069;
  padding: 3rem;
  border-radius: 1rem;
}

/* Gist */
#gistFrame {
  border: none !important;
}

::selection {
  color: #fff !important;
  background-color: #00000088 !important;
}

.gist .blob-code,
.gist .blob-num {
  background: transparent !important;
  color: #f1f1f1 !important;
  /* font-size: 14px !important; */
}

.gist .gist-data,
.highlight {
  background-color: transparent !important;
}

.gist .gist-meta {
  font: 11px Arial !important;
  background-color: transparent !important;
}

.gist .markdown-body h1 {
  color: white;
}

.gist .markdown-body h5 {
  color: white;
}

.gist .markdown-body ul, .gist .markdown-body ol {
  color: white;
}

.gist .markdown-body .highlight pre, .gist .markdown-body pre {
  color: wheat !important;
  background-color: transparent !important;
}

/* Footer */
.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Logo */
.logo {
  filter: invert(0.30);
  width: 20px;
  height: 20px;
  transition: all 0.7s;
}

.logo:hover {
  filter: invert(0.50);
}

@media screen and (max-width: 375px) {
  .links {
    flex-direction: column !important;
    gap: 0 !important;
    align-items: normal !important;
  }

  .links li {
    padding: 0.1rem !important;
  }
}

@media screen and (max-width: 768px) {
  .links {
    flex-direction: column !important;
    gap: 0 !important;
  }

  .links li {
    padding: 0.1rem !important;
    margin-top: 1rem !important;
  }
}