<!DOCTYPE html>
<html lang="pt-br" class="h-100" data-bs-theme="dark">

<head>
	{% include head.html %}
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="/" title="dxdns">
            <span class="d-block d-lg-none">Diógenes Rodrigues</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/images/profile.jpg" alt="dxdns" />
            </span>
        </a>

		<!-- Social Icons -->
        <div class="social">
            <ul class="d-flex justify-content-center list-unstyled">
                {% include social.html %}
            </ul>
        </div>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a href="{{ item.link }}" class="nav-link">
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </nav>
	
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <section class="resume-section" id="about">
            <article class="post-content post-content--intro">
                <header class="border-bottom mb-2">
                    <h1 class="title">{{ page.title }}</h1>
                </header>
                <p class="subtitle">{{ page.subtitle }}</p>
                {{ content }}
            </article>
        </section>
    </div>

    <!-- JS -->
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/custom.js"></script>
</body>

</html>