<html lang="pt-br" data-bs-theme="dark">

<head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/error.css">
</head>

<body class="bg-body-tertiary">
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <img src="/assets/images/astronaut.svg" />
                </div>
                <div class="col-md-6 align-self-center">
                    <header
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="title">{{ page.title }}</h1>
                    </header>
                    <p class="subtitle">{{ page.subtitle }}</p>
                    {{ page.content }}
                </div>
            </div>
        </div>
    </main>
    <script src="/assets/js/error.js"></script>
</body>

</html>