<!DOCTYPE html>
<html lang="pt-br">

<head>
	{% include head.html %}
	<link href="/assets/css/sample.css" rel="stylesheet">
	<link href="/assets/css/gist.css" rel="stylesheet">
	<link href="/assets/css/modal.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="content">
			<main role="main">
				{% include content.html %}
			</main>

			<footer class="footer">
				{% include footer.html %}
			</footer>
		</div>
	</div>
	<script src="/assets/js/script.js"></script>
</body>

</html>